.section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
  }
  
  .section1 {
    background-color: #ccc;
  }
  
  .section2 {
    background-color: #aaa;
  }
  
  .section3 {
    background-color: #888;
  }